<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>290210483388-051nisv2tqlhicc8d7c2mbvq2htqgdif.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.290210483388-051nisv2tqlhicc8d7c2mbvq2htqgdif</string>
	<key>API_KEY</key>
	<string>AIzaSyCuGepA8Ui-tS-trSZSHuf8PbOGMw5yZcI</string>
	<key>GCM_SENDER_ID</key>
	<string>290210483388</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>-23.Flash-chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-15c02</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-15c02.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:290210483388:ios:eb396c4c3a7273af9cd4b9</string>
</dict>
</plist>